div.content { 
	
	max-width: 900px;  /* adaptable page width */

  	margin: auto;
  	
  	text-align: justify;
    text-justify: inter-character;

    font-family: "Computer Modern Serif";  /*css is attached in /_layouts/rl_post.html */
    /*font-family: 'Titillium Web', Verdana, Helvetica, sans-serif;*/

}

/* for code wrapping */
/* https://www.tutorialspoint.com/How-do-I-wrap-text-in-a-pre-tag-in-HTML#:~:text=HTML%20tag%20defines%20preformatted,we%20need%20to%20use%20CSS. */

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }

.caption {
  text-align: center; 
  /*text-justify: inter-word;*/
}

p, li {
	font-size:17.5;
}

li{
  margin: 10px 0;
}

/* both attributes are essential for centering images on posts */
img {
  display: block; 
  margin: auto;
}

/* ========== two images on the same line ========== */

.two-images-container {
  display: grid;
  
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  
  grid-gap: 10px;

  margin: auto;
  width: 80%;  /* 66% of div.content width */;
  align-items: center;
  justify-items: center;
}

.image-container {
  width: 350px;
}

.image {
  width: 100%;
}